<!DOCTYPE html>
<html>
<head>
  <title>Python Home</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/js/jquery.js">
  <link href="../static/css/half-slider.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo pull-left">
      </div>

      <nav>
        <ul class="nav nav-tabs pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="/showCourse">Courses</a></li>
          <li role="presentation"><a href="/showGallery">Gallery</a></li>
          <li role="presentation"><a href="/showSignIn">Sign In</a></li>
          <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
        </ul>
      </nav>

      <h3 class="text-primary">Python</h3>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-3">
      <div class="jumbotron">
        <h1>Learn Python</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">SignUp To Learn</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="jumbotron">
        <h1>Learn Python</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">SignUp To Learn</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="jumbotron">
        <h1>Learn Python</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">SignUp To Learn</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="jumbotron">
        <h1>Learn Python</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">SignUp To Learn</a></p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="col-md-4">
      <div class="jumbotron">

      </div>
    </div>
  </footer>
</body>
</html>
