<!DOCTYPE html>
<html>
<head>
  <title>Python Home</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/bootstrap-social/4.12.0/bootstrap-social.css" rel="stylesheet">
  <link href="../static/css/carousel.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo pull-left">
      </div>

      <nav>
        <ul class="nav nav-tabs pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/showCourse">Courses</a></li>
          <li role="presentation"><a href="/showGallery">Gallery</a></li>
          <li role="presentation"><a href="/showSignIn">Sign In</a></li>
          <li role="presentation" class="active"><a href="/showSignUp">Sign Up</a></li>
        </ul>
      </nav>

      <h3 class="text-primary">Python</h3>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
        <h1>Python Website</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="col-md-4">
        <h4>Quick Links</h3>
        <ul>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>

      </div>
      <div class="col-md-4">
        <p style="padding-top:60px;">Enes Kemal Ergin &copy 2016</p>
      </div>
      <div class="col-md-4">
        <h4>Mission</h4>
        <p>sdfjhskfjhgsfjhsfj sajdhfgasjfhk asjfh asfkjhagsfj skfjh jsahf kjashfg kajsfja ksdfjashgfd asfkj </p>
      </div>
    </div>
  </footer>
  </body>
  </html>
